.profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 32px;
    color: inherit;
    text-decoration: none;
}

.profile:hover {
    text-decoration: underline;
}

.profile img {
    width: 80px;
    border-radius: 50%;
}

.profile div {
    min-width: 0;
}

.profile span {
    margin-bottom: 0;
    font-size: x-large;
}

.profile small {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
